---
Language:        Cpp
BasedOnStyle:    WebKit
IndentWidth:     4
ColumnLimit:     120
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: All # 如果函数体内只有一行语句，直接写成一行
BreakStringLiterals: true
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: true # 如果if 后面没有 {} 且是单语句时，紧贴在同一行
AlignTrailingComments: true
